*{
    font-family:   'Cabin Condensed', sans-serif !important;


}

#body{
    margin: 0px;
    padding: 0px;
    background-image: url('../img/cubes.png');/*
    background: #1777CE;
    background: #727B84;
background: -moz-linear-gradient(45deg, #727B84 0%, #ECEFFF 96%, #FFFDFD 100%);
background: -webkit-linear-gradient(45deg, #727B84 0%, #ECEFFF 96%, #FFFDFD 100%);
background: linear-gradient(45deg, #727B84 0%, #ECEFFF 96%, #FFFDFD 100%);
*/
    
}

#logo{
    height: 90px;
    width: 130px;
    
}
#logo-user{
    height: 90px;
    width: 90px;
    border-radius: 43px !important;
    
}

#logo-user-nav{
    height: 25px;
    width: 25px;
    border-radius: 20px !important;
    
}

#maps_logo{
    height: 35px;
    width: 35px;
    margin: 0%;
    margin-left: 3px;
    margin-bottom: 10px;
    padding: 0%;
}

#global{
    height: 24px;
    width: 24px;

}

#portadas{
    width: 100%;
    height: 300px;
}

#header{
    margin-top: 300px;
}

.bg-primary{
    background-color: #3771ce !important;
}

.text-primary{
    color: #3771ce !important;
}

.btn-primary{
    background-color: #3771ce !important;
}

a{
    text-decoration: none !important;
}




.bg-secondary{
    background-color: white !important;
}


.nav-link{
    color: #3771ce !important;
    margin-left: 10px; 
    font-size: 17px;
}

.nav-link:hover{
    color: white !important;
    
    padding-left: 2px;
    transition: 0.3s;
    background-color:  #3771ce!important;
   
    
    border-radius: 10px;
}

.m-nav{
    margin-top: 120px;
}

.mt-carousel{
    margin-top: 80px;
}


.img-carousel{
    width: 100%;
    height: 500px;
}
.banner-turismo{
    width: 100%;
    height: 390px;
}

#logout-icon{
    height: 13px !important;
    width: 13px !important;
    margin-left: 3px;
    margin-bottom: 2px;
}

/*BANNERS PUBLICIDAD*/

#banner-index{
    width: 100%;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#banner-turismo{
    width: 100%;
    height: 400px;
    padding-bottom: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/* MEDIA QUUERY */
@media screen and (max-width: 600px) {
    #logo{
        height: 70px;
        width: 100px;
        
    }

    #header{
        margin-top: 300px;
    }

    .img-carousel{
        width: 100%;
        height: 250px;
    }

    .banner-turismo{
        width: 100%;
        height: 200px !important;
    }
    
    .cat{
        width: 100%;
        height: 200px !important;
    }
    #portadas{
        width: 100%;
        height: 150px;
    }
    #logo-user{
        height: 60px;
        width: 60px;
        border-radius: 43px !important;
        
    }

    #nombre-perfil{
        font-size: 30px !important;
    }
    

  
    
    
    
  }

/* END MEDIA QUERY*/

  .navbar{
    -webkit-box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.62);
    -moz-box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.62);
    box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.62);    
  }

  

  .form-control:focus {
    border-color: #3771ce;
  }

  body {
    position: relative;
  }

  .active{
      color: white !important;
  }

.shadow{
    text-shadow: 2px 2px 7px #000000;
}

.portfolio-item{
    margin-bottom: 30px;
}
.card{
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   
  }
.card-img-top{
    border-radius: 0%;
}

.des{
    height: 20% !important;
}

#list-example{
    position: absolute !important;
}

.text-shadow{
    text-shadow: 2px 1px 8px rgba(0, 0, 16, 1);
}

/* Style the tab */
.tab {
    overflow: hidden;
    
    background-color: #3771ce;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: auto;
    margin: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ffffff;
    color: #3771ce;
    pading: 5px;
    border-radius: 8px;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ffffff;
    color: #3771ce !important;
    border-radius: 8px;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px !important;
    border-top: none;
  }


  .img-turi{
      height: 300px;
      width: 100%;
  }

  .card-title{

    color: #3771ce;
  }

  .cat{
      width: 100%;
      height: 150px;
  }

.descripcion-in{
    height: 300px !important;
}


/* Estilos de sidebar admin*/

#mySidenav{
    margin-top: 40px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3771ce;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* end estilos de sidebar admin*/